* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    font-family: 'poppins';
}
h1 {
    font-weight: 600;
}
.btn-default {
    background-color: #00ff80;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);    
    color: azure;
    padding: 5px 20px;
    border: none;
}
.navbar-brand h4{
    font-weight: 700;
}
.td {
    color: orange;
}
section {
    margin: 70px auto;
}
.simple-card i,
.s-card i
{
    font-size: 30px;
    color: orange;
}
.third-simple h2 {
    font-weight: 600;
}
.graph h2 {
    font-weight: 700;
}
.section-title {
    text-align: center;
    padding: 30px 0;
    position: relative;
}
.section-title span {
    position: absolute;
    top: 30px;
    color: #f0f1f3;
    left: 0;
    right: 0;
    z-index: 1;
    font-weight: 700;
    font-size: 52px;
    text-transform: uppercase;
    line-height: 0;
}
.section-title h2 {
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #5f687b;
    position: relative;
    z-index: 2;
}
.services {
    background: #f9f9fa;
}
.m-testimonial {
position: relative;
width: 100%;
}
.tm-card {
    position: relative;
}
.c-img img {
    position: absolute;
    height: 100px;
    width: 100px;
    border: 10px solid rgb(226, 226, 226);
    border-radius: 50%;
    top: 70%;
    left: 21%;
}
.c1-img img {
    position: absolute;
    height: 100px;
    width: 100px;
    border: 10px solid rgb(226, 226, 226);
    border-radius: 50%;
    top: 70%;
    left: 55%;
}
.c2-img img {
    position: absolute;
    height: 100px;
    width: 100px;
    border: 10px solid rgb(226, 226, 226);
    border-radius: 50%;
    top: 70%;
    left: 89%;
}
@media screen and (max-width:992px) {
    .second-head {
        padding-top: 100px;
    }
}